<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartRooster project</title>
</head>
<body>
<h1>Ambient intelligence 2018</h1>
<p>Welcome to my project {{ name }}</p>

{% if name == "" %}
    <img src="{{ url_for('static',filename="rooster.jpg") }}">
{% else %}
    <p>Your alarms:</p>
    <ul>
        {% for a in alarms %}
            {#  index 0 is alarm id 1 is hour  #}
            <li>{{ a[1] }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if name=="" %}  {# genero il form di login solo se non ho già riconosciuto l'utente #}
    <form action="{{ url_for('welcome') }}" method="post">
        <p>Enter your name
            <input type="text" name="username"/>
            <input type="submit" value="Login"/>
        </p>
    </form>
{% else %}
    <p><a href={{ url_for('logout') }}>Logout</a></p>
{% endif %}
<p>&copy; <a href="{{ url_for('about') }}"> SmartRooster</a></p>
</body>
</html>
